/*!
Theme Name: SiteOrigin North
Author: SiteOrigin
Author URI: https://siteorigin.com/
Theme URI: https://siteorigin.com/theme/north/
Description: Inspired by the elegant majesty and purity of the Swiss Alps and built with business owners in mind, North is the star in the SiteOrigin sky. With easy-to-use options, classic lines and a minimal feel, North feels visually limitless and technically effortless. It's fully responsive and retina ready. Some key features are its responsive menu, gorgeous animations and tight integration with all the major plugins you've come to rely on. You can use it to create a business website using SiteOrigin Page Builder and our Widgets Bundle. You can also build a full ecommerce store though North's WooCommerce integration. We offer free and premium support on our support <a href="http://siteorigin.com/thread/">forums</a> (http://siteorigin.com/thread/).
Version: 1.7.8
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: siteorigin-north
Tags: one-column, two-columns, left-sidebar, right-sidebar, custom-background, custom-colors, custom-menu, custom-logo, featured-images, footer-widgets, full-width-template, post-formats, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready, blog, e-commerce
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
    ## Posts and pages
	## Asides
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
>>> IMPORTANT NOTICE:
----------------------------------------------------------------
Please don't edit below, changes will be lost during the theme 
update process. If you need to make CSS modifications try
https://wordpress.org/plugins/so-css/
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
  color: #595959;
  font-family: "Droid Sans", sans-serif;
  font-size: 14.4px;
  font-size: 0.9rem;
  line-height: 1.6; }

.site-content {
  -ms-word-wrap: break-word;
  word-wrap: break-word; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-family: "Montserrat", sans-serif;
  color: #292929;
  margin: 25px 0; }
  .widget h1, .widget
  h2, .widget
  h3, .widget
  h4, .widget
  h5, .widget
  h6 {
    color: inherit; }

h1 {
  font-size: 29px; }

h2 {
  font-size: 25px; }

h3 {
  font-size: 22px; }

h4 {
  font-size: 20px; }

h5 {
  font-size: 18px; }

h6 {
  font-size: 16px; }

p {
  margin-bottom: 1.5em; }

dfn, cite, em, i {
  font-style: italic; }

blockquote {
  margin: 0 1.5em;
  font-family: "Droid Serif", sans-serif;
  font-style: italic;
  color: #c75d5d; }

address {
  margin: 0 0 1.5em; }

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em; }

code, kbd, tt, var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 0.9375rem; }

abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help; }

mark, ins {
  background: #fff9c0;
  text-decoration: none; }

big {
  font-size: 125%; }

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  background: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility; }
  body.responsive {
    overflow-x: hidden; }

blockquote, q {
  quotes: '"' '"'; }

hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em; }

ul, ol {
  margin: 0 0 1.5em 1.5em;
  padding: 0; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em; }

dt {
  font-weight: bold; }

dd {
  margin: 0 1.5em 1.5em; }

figure {
  margin-left: 0;
  margin-right: 0; }

img {
  height: auto;
  max-width: 100%; }

code {
  background: #eee;
  padding: 0 0.3em; }

#page ::-moz-selection {
  background-color: #c75d5d;
  color: #fff; }

#page ::selection {
  background-color: #c75d5d;
  color: #fff; }

table {
  margin: 0 0 1.5em;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0; }
  table th, table td {
    padding: 0.3em;
    border: 1px solid #c9c9c9; }

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  background: transparent;
  border-radius: 0px;
  font-size: 0.85em;
  border: 1px solid #303030;
  padding: 10px 30px;
  line-height: 1em;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  color: #292929;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  text-shadow: none;
  outline: none;
  -webkit-transition: 0.085s;
  -moz-transition: 0.085s;
  transition: 0.085s; }
  button:hover, button:active, button:focus,
  input[type="button"]:hover,
  input[type="button"]:active,
  input[type="button"]:focus,
  input[type="reset"]:hover,
  input[type="reset"]:active,
  input[type="reset"]:focus,
  input[type="submit"]:hover,
  input[type="submit"]:active,
  input[type="submit"]:focus {
    background: #a94346;
    border-color: #a94346;
    color: #ffffff;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1); }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
textarea {
  background: #ffffff;
  border: 1px solid #ccc;
  border-radius: 0;
  box-sizing: border-box;
  color: #595959;
  font-family: "Droid Serif", sans-serif;
  font-size: .9333em;
  line-height: normal;
  padding: 9px 13px 10px;
  width: 100%; }
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="url"]:focus,
  input[type="password"]:focus,
  input[type="search"]:focus,
  input[type="tel"]:focus,
  textarea:focus {
    outline: none; }

.post-password-form {
  margin-bottom: 1.75em; }
  .post-password-form label {
    text-transform: uppercase;
    font-size: 1.2em;
    margin-bottom: 1em;
    display: block; }
  .post-password-form input[type="password"] {
    margin-top: 0.4375em; }
  .post-password-form > :last-child {
    margin-bottom: 0; }

.wpcf7 form.wpcf7-form p {
  margin-bottom: 1.75em; }

.wpcf7 input.wpcf7-form-control.wpcf7-text,
.wpcf7 input.wpcf7-form-control.wpcf7-number,
.wpcf7 input.wpcf7-form-control.wpcf7-date,
.wpcf7 textarea.wpcf7-form-control.wpcf7-textarea,
.wpcf7 select.wpcf7-form-control.wpcf7-select,
.wpcf7 input.wpcf7-form-control.wpcf7-quiz {
  margin: 5px 0 0;
  padding: 7px 30px;
  outline: none;
  font-size: 0.85em;
  color: #595959;
  font-family: "Droid Serif", sans-serif;
  width: 100%; }

.wpcf7 span.wpcf7-form-control-wrap .wpcf7-form-control.wpcf7-checkbox .wpcf7-list-item.first, .wpcf7 span.wpcf7-form-control-wrap .wpcf7-form-control.wpcf7-radio .wpcf7-list-item.first {
  margin-left: 0 !important; }

.wpcf7 input.wpcf7-form-control.wpcf7-submit[disabled] {
  color: #898989;
  border: 2px solid #898989;
  cursor: not-allowed; }
  .wpcf7 input.wpcf7-form-control.wpcf7-submit[disabled]:hover {
    color: #898989;
    border: 2px solid #898989;
    background: transparent; }

.wpcf7 .wpcf7-response-output {
  position: relative;
  padding: 10px 30px;
  color: #292929;
  border: none;
  text-transform: uppercase;
  margin: 0;
  text-align: left;
  font-size: 1em;
  background: #d4d4d4; }

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
  color: #c75d5d; }
  a:hover, a:focus {
    color: #a94346; }
  a:hover, a:active {
    outline: 0; }

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
  z-index: 99999;
  font-family: "Droid Sans", sans-serif;
  font-size: 0.95em;
  text-align: right; }
  .main-navigation > div {
    display: inline-block; }
  .main-navigation ul {
    list-style: none;
    margin: 0;
    padding-left: 0; }
    .main-navigation ul > li {
      display: inline-block;
      padding: 0.25em 0; }
      .main-navigation ul > li a {
        padding-left: 30px;
        padding-right: 30px; }
        .main-navigation ul > li a.stripped-backlink {
          font-weight: bold;
          font-weight: 600;
          padding-right: 0;
          padding-left: 0; }
    .main-navigation ul a {
      color: #898989; }
      .main-navigation ul a:hover {
        color: #595959; }
    .main-navigation ul .sub-menu,
    .main-navigation ul .children {
      background-color: #fafafa;
      border: 1px solid #d4d4d4;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
      opacity: 0;
      position: absolute;
      text-align: left;
      top: 100%;
      -webkit-transition: all 0.15s ease-in;
      -moz-transition: all 0.15s ease-in;
      transition: all 0.15s ease-in;
      -webkit-transform-origin: center top;
      -moz-transform-origin: center top;
      -ms-transform-origin: center top;
      -o-transform-origin: center top;
      transform-origin: center top;
      -webkit-transform: scale(0.95);
      -moz-transform: scale(0.95);
      -ms-transform: scale(0.95);
      -o-transform: scale(0.95);
      transform: scale(0.95);
      visibility: hidden;
      z-index: 99999; }
      .main-navigation ul .sub-menu ul,
      .main-navigation ul .children ul {
        left: 100%;
        margin-left: 0 !important;
        top: -1px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -ms-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center; }
      .main-navigation ul .sub-menu li,
      .main-navigation ul .children li {
        margin: 0;
        min-width: 100%;
        padding-bottom: 0; }
        .main-navigation ul .sub-menu li:hover > ul,
        .main-navigation ul .sub-menu li.focus > ul,
        .main-navigation ul .children li:hover > ul,
        .main-navigation ul .children li.focus > ul {
          left: 100%; }
      .main-navigation ul .sub-menu a,
      .main-navigation ul .children a {
        box-sizing: border-box;
        line-height: 1em;
        min-width: 100%;
        padding: 0.85em 25px;
        white-space: nowrap; }
      .main-navigation ul .sub-menu li:first-child a,
      .main-navigation ul .children li:first-child a {
        padding-top: 1.25em; }
      .main-navigation ul .sub-menu li:last-child a,
      .main-navigation ul .children li:last-child a {
        padding-bottom: 1.25em; }
      .main-navigation ul .sub-menu :hover > a,
      .main-navigation ul .sub-menu .focus > a,
      .main-navigation ul .children :hover > a,
      .main-navigation ul .children .focus > a {
        color: #595959; }
      .main-navigation ul .sub-menu a:hover,
      .main-navigation ul .sub-menu a.focus,
      .main-navigation ul .children a:hover,
      .main-navigation ul .children a.focus {
        color: #595959; }
    body:not(.ios) .main-navigation ul li:hover > ul,
    body:not(.ios) .main-navigation ul li.focus > ul {
      opacity: 1;
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1);
      visibility: visible; }
    body:not(.ios) .main-navigation ul li:hover:after,
    body:not(.ios) .main-navigation ul li.focus:after {
      content: ''; }
    .main-navigation ul li.hover > ul {
      opacity: 1;
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1);
      visibility: visible; }
    .main-navigation ul li.hover:after {
      content: ''; }
  .main-navigation .menu > li.current-menu-item > a, .main-navigation .menu > li.current-menu-ancestor > a {
    color: #292929; }
  .main-navigation li {
    position: relative; }
  .main-navigation a:not(.ubermenu-responsive-toggle) {
    display: block;
    text-decoration: none; }
  .main-navigation .icon-menu {
    display: inline-block;
    height: 15px;
    margin-right: 10px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    width: 20px; }
    .main-navigation .icon-menu span {
      display: block;
      border-radius: 10px;
      width: 100%;
      height: 2px;
      background: #777;
      position: absolute;
      opacity: 1;
      right: 0;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: 0.25s ease-in-out;
      -moz-transition: 0.25s ease-in-out;
      transition: 0.25s ease-in-out;
      -webkit-transform-origin: right center;
      -moz-transform-origin: right center;
      -ms-transform-origin: right center;
      -o-transform-origin: right center;
      transform-origin: right center; }
      .main-navigation .icon-menu span:nth-child(1) {
        top: 0px; }
      .main-navigation .icon-menu span:nth-child(2) {
        top: 7px; }
      .main-navigation .icon-menu span:nth-child(3) {
        top: 14px; }
  .main-navigation .to-close .icon-menu span:nth-child(1) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .main-navigation .to-close .icon-menu span:nth-child(2) {
    opacity: 0;
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
    transform: translateX(10px); }
  .main-navigation .to-close .icon-menu span:nth-child(3) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }
  .main-navigation #mobile-menu-button {
    color: #666;
    display: none;
    font-size: 1.2em;
    margin-top: .2em; }
    .main-navigation #mobile-menu-button:hover {
      color: #595959; }
  .main-navigation .north-search-icon {
    border: none;
    box-shadow: none;
    color: inherit;
    cursor: pointer;
    display: inline-block;
    line-height: normal;
    padding: 0;
    position: relative;
    top: 2px; }
    .main-navigation .north-search-icon:hover {
      background: none; }
    .main-navigation .north-search-icon .svg-icon-search {
      height: 16px;
      width: 16px; }
      .main-navigation .north-search-icon .svg-icon-search path {
        fill: #898989; }
      .main-navigation .north-search-icon .svg-icon-search:hover path {
        fill: #595959; }
  .main-navigation #mega-menu-wrap-primary {
    display: inline-block; }
    .main-navigation #mega-menu-wrap-primary .mega-sub-menu li {
      min-width: auto; }
    .main-navigation #mega-menu-wrap-primary ul ul a {
      white-space: normal;
      width: auto !important; }

#header-search {
  background: #fafafa;
  display: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 99999; }
  #header-search .container {
    height: 100%; }
  #header-search form {
    display: block;
    box-sizing: border-box;
    height: 48px;
    left: 20px;
    margin-top: -24px;
    max-height: 100%;
    position: absolute;
    right: 59px;
    top: 50%; }
  #header-search input[type="search"] {
    background: rgba(0, 0, 0, 0.035);
    border: none;
    border-radius: 0;
    box-sizing: border-box;
    font-family: "Droid Serif", sans-serif;
    height: 48px;
    max-height: 100%;
    padding: 0 10px;
    right: 20px;
    width: 100%; }
    #header-search input[type="search"]:focus {
      outline: none; }
  #header-search button[type="submit"] {
    display: none; }
  #header-search #close-search {
    margin-top: -12px;
    position: absolute;
    right: 20px;
    -webkit-transition: 0.35s;
    -moz-transition: 0.35s;
    transition: 0.35s;
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -ms-transform-origin: center center;
    -o-transform-origin: center center;
    transform-origin: center center;
    -webkit-transform: scale(0.575) translateX(3px) translateY(-3px);
    -moz-transform: scale(0.575) translateX(3px) translateY(-3px);
    -ms-transform: scale(0.575) translateX(3px) translateY(-3px);
    -o-transform: scale(0.575) translateX(3px) translateY(-3px);
    transform: scale(0.575) translateX(3px) translateY(-3px);
    top: 50%; }
    #header-search #close-search.animate-in {
      -webkit-transform: scale(1) rotate(90deg);
      -moz-transform: scale(1) rotate(90deg);
      -ms-transform: scale(1) rotate(90deg);
      -o-transform: scale(1) rotate(90deg);
      transform: scale(1) rotate(90deg); }
    #header-search #close-search .svg-icon-close {
      cursor: pointer;
      height: 24px;
      width: 24px; }
      #header-search #close-search .svg-icon-close path {
        fill: #898989; }
      #header-search #close-search .svg-icon-close:hover path {
        fill: #595959; }
  @media screen and (max-width: 600px) {
    #header-search {
      display: none !important; } }

.main-navigation.stripped a {
  color: #898989; }
  .main-navigation.stripped a:hover {
    color: #595959; }

#mobile-navigation {
  background: rgba(0, 0, 0, 0.9);
  left: 0;
  font-family: "Droid Sans", sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 15px 20px;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 10; }
  #mobile-navigation::-webkit-scrollbar {
    width: 4px; }
  #mobile-navigation::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }
  #mobile-navigation::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey; }
  #mobile-navigation form {
    display: block;
    margin-top: 10px;
    width: auto; }
    #mobile-navigation form input[type="search"] {
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      -o-appearance: none;
      appearance: none;
      background: transparent;
      border: none;
      border-bottom: 1px solid #fff;
      border-radius: 0;
      box-sizing: border-box;
      color: #fff;
      font-size: 16px;
      padding: 10px;
      width: 100%; }
      #mobile-navigation form input[type="search"]::-webkit-input-placeholder {
        color: rgba(255, 255, 255, 0.7); }
      #mobile-navigation form input[type="search"]::-moz-placeholder {
        color: rgba(255, 255, 255, 0.7); }
      #mobile-navigation form input[type="search"]:-moz-placeholder {
        color: rgba(255, 255, 255, 0.7); }
      #mobile-navigation form input[type="search"]:-ms-input-placeholder {
        color: rgba(255, 255, 255, 0.7); }
      #mobile-navigation form input[type="search"]:focus {
        outline: none; }
    #mobile-navigation form button[type="submit"] {
      display: none; }
  #mobile-navigation ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    #mobile-navigation ul li {
      line-height: 3.5em;
      position: relative;
      width: 100%; }
      #mobile-navigation ul li a {
        color: #fff;
        display: block;
        text-decoration: none;
        width: 100% !important; }
      #mobile-navigation ul li.menu-item-has-children > a {
        padding-right: 40px; }
        #mobile-navigation ul li.menu-item-has-children > a:not([href]) {
          cursor: pointer; }
      #mobile-navigation ul li .dropdown-toggle {
        background: transparent;
        border: 0;
        box-shadow: none;
        color: #fff;
        font-size: 15px;
        line-height: 3em;
        outline: none;
        padding: 5px;
        position: absolute;
        right: 5px;
        top: 0;
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        transition: all 0.2s linear;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
        -webkit-transform-origin: 50% 50%;
        -moz-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
        -o-transform-origin: 50% 50%;
        transform-origin: 50% 50%; }
        #mobile-navigation ul li .dropdown-toggle.toggle-open {
          -webkit-transform: rotate(-90deg);
          -moz-transform: rotate(-90deg);
          -ms-transform: rotate(-90deg);
          -o-transform: rotate(-90deg);
          transform: rotate(-90deg);
          right: 3px; }
    #mobile-navigation ul ul {
      display: none;
      margin: 0;
      padding: 0; }
      #mobile-navigation ul ul li {
        padding-left: 2em; }
        #mobile-navigation ul ul li ul {
          display: none; }

.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation {
  margin: 0 0 1.5em;
  overflow: hidden; }

.comment-navigation .nav-previous,
.comment-navigation .nav-next,
.posts-navigation .nav-previous,
.posts-navigation .nav-next,
.post-navigation .nav-previous,
.post-navigation .nav-next {
  width: 50%; }

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  float: left; }
  .comment-navigation .nav-previous .north-icon-previous,
  .posts-navigation .nav-previous .north-icon-previous,
  .post-navigation .nav-previous .north-icon-previous {
    float: left;
    margin: .25em 5px; }

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  float: right;
  text-align: right; }
  .comment-navigation .nav-next .north-icon-next,
  .posts-navigation .nav-next .north-icon-next,
  .post-navigation .nav-next .north-icon-next {
    float: right;
    margin: .25em 0 0 5px; }

.comment-navigation a,
.posts-navigation a,
.post-navigation a {
  text-decoration: none; }

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }
  .screen-reader-text:hover, .screen-reader-text:active, .screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */ }

.site .skip-link {
  outline: none; }

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em; }

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em; }

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  content: "";
  display: table; }

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both; }

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget-area .widget {
  margin: 0 0 1.5em; }
  .widget-area .widget select {
    max-width: 100%; }
  .widget-area .widget ul {
    margin-left: 0;
    padding-left: 1.275em; }
  .widget-area .widget ul.menu,
  .widget-area .widget.widget_pages > ul {
    padding-left: 0; }
    .widget-area .widget ul.menu a,
    .widget-area .widget.widget_pages > ul a {
      text-decoration: none; }
      .widget-area .widget ul.menu a:hover,
      .widget-area .widget.widget_pages > ul a:hover {
        text-decoration: underline; }
    .widget-area .widget ul.menu,
    .widget-area .widget ul.menu ul,
    .widget-area .widget.widget_pages > ul,
    .widget-area .widget.widget_pages > ul ul {
      list-style: none; }

.textwidget > *:first-child {
  margin-top: 0; }

.textwidget > *:last-child {
  margin-bottom: 0; }

.widget .search-form {
  width: 100%; }
  .widget .search-form input[type="search"] {
    width: 100%; }
    #secondary .widget .search-form input[type="search"] {
      min-width: 0; }

.tagcloud a {
  background: #b0b0b0;
  color: #fff;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 10px;
  margin-bottom: 10px;
  line-height: 1em;
  padding: 8px 12px;
  text-decoration: none; }
  .tagcloud a:hover {
    background: #a94346;
    color: #fff; }

.widget-area .widget_archive ul {
  padding-left: 0; }
  .widget-area .widget_archive ul li {
    list-style: none;
    padding: 8px 0; }
    .widget-area .widget_archive ul li:before {
      content: "-"; }
    .widget-area .widget_archive ul li a {
      text-decoration: none;
      padding-left: 10px; }

.widget-area .widget_archive select {
  background: #fff;
  border-radius: 0;
  font-size: 1.1em; }

.widget-area .widget_categories ul {
  padding-left: 0; }
  .widget-area .widget_categories ul li {
    list-style: none;
    padding: 8px 0; }
    .widget-area .widget_categories ul li:before {
      content: "-"; }
    .widget-area .widget_categories ul li a {
      text-decoration: none;
      padding-left: 10px; }
    .widget-area .widget_categories ul li ul.children {
      padding-left: 20px; }

.widget-area .widget_categories select {
  background: #fff;
  border-radius: 0;
  font-size: 1.1em; }

.widget_nav_menu a {
  display: block;
  padding: 10px 0; }

.widget-area .widget_meta ul {
  padding-left: 0; }
  .widget-area .widget_meta ul li {
    list-style: none;
    padding: 8px 0; }
    .widget-area .widget_meta ul li a {
      text-decoration: none; }

.widget-area .widget_pages ul {
  padding-left: 0; }
  .widget-area .widget_pages ul li {
    list-style: none;
    padding: 8px 0; }
    .widget-area .widget_pages ul li ul.children {
      padding-left: 20px; }
    .widget-area .widget_pages ul li a {
      text-decoration: none; }

.widget-area .widget_recent_comments ul {
  padding-left: 0; }
  .widget-area .widget_recent_comments ul li {
    list-style: none;
    padding: 8px 0; }
    .widget-area .widget_recent_comments ul li a {
      text-decoration: none; }

.widget-area .widget_recent_entries ul {
  padding-left: 0; }
  .widget-area .widget_recent_entries ul li {
    list-style: none;
    padding: 8px 0; }
    .widget-area .widget_recent_entries ul li a {
      text-decoration: none; }
    .widget-area .widget_recent_entries ul li .post-date {
      color: #b0b0b0;
      display: block;
      font-size: 0.8em; }

.widget-area .widget_rss .widget-title a {
  text-decoration: none; }

.widget-area .widget_rss ul {
  padding-left: 0; }
  .widget-area .widget_rss ul li {
    border-bottom: #eee 1px solid;
    list-style: none;
    padding: 8px 0; }
    .widget-area .widget_rss ul li a {
      text-decoration: none; }
    .widget-area .widget_rss ul li .rssSummary {
      padding-top: 10px; }
    .widget-area .widget_rss ul li cite,
    .widget-area .widget_rss ul li .rss-date {
      color: #b0b0b0;
      display: block;
      font-size: 0.8em;
      padding-top: 4px; }

.widget-area .widget_calendar a {
  text-decoration: none; }

.widget-area .widget_calendar table caption {
  margin-bottom: 5px; }

.widget-area .widget_calendar table tbody td {
  text-align: center; }
  .widget-area .widget_calendar table tbody td.has-link {
    background: #eee; }

.widget-area .widget_calendar table #prev {
  text-align: left; }

.widget-area .widget_calendar table #next {
  text-align: right; }

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## General Layout
--------------------------------------------------------------*/
.content-area {
  float: left;
  margin: 0 -35% 0 0;
  width: 100%; }

.site-main {
  margin: 0 35% 0 0; }

.site-content .widget-area {
  float: right;
  overflow: hidden;
  padding-left: 40px;
  width: 35%; }

.site-footer {
  clear: both;
  min-width: 1060px;
  width: 100%; }
  body.responsive .site-footer {
    min-width: 0; }

.no-active-sidebar:not(.woocommerce):not(.woocommerce-page) .content-area,
.no-active-sidebar.no-active-wc-sidebar .content-area,
.wc-sidebar-none.woocommerce.woocommerce-page .content-area {
  float: none;
  margin: 0;
  width: auto; }

.no-active-sidebar:not(.woocommerce):not(.woocommerce-page) .site-main,
.no-active-sidebar.no-active-wc-sidebar .site-main,
.wc-sidebar-none.woocommerce.woocommerce-page .site-main {
  margin: 0; }

@media (max-width: 600px) {
  body.responsive #primary.content-area {
    float: none;
    margin: 0;
    width: 100%; }
  body.responsive #main.site-main {
    margin: 0; }
  body.responsive #content.site-content .widget-area {
    float: none;
    padding: 40px 0 0;
    width: 100%; } }

/*--------------------------------------------------------------
## Left Sidebar Layout
--------------------------------------------------------------*/
.layout-sidebar-left:not(.woocommerce):not(.woocommerce-page) .content-area,
.layout-wc-sidebar-left .content-area {
  float: right;
  margin: 0 0 0 -35%;
  width: 100%; }

.layout-sidebar-left:not(.woocommerce):not(.woocommerce-page) .site-main,
.layout-wc-sidebar-left .site-main {
  margin: 0 0 0 35%; }

.layout-sidebar-left:not(.woocommerce):not(.woocommerce-page) .site-content .widget-area,
.layout-wc-sidebar-left .site-content .widget-area {
  float: left;
  overflow: hidden;
  padding-right: 40px;
  padding-left: 0;
  width: 35%; }

.layout-sidebar-left:not(.woocommerce):not(.woocommerce-page) .site-footer,
.layout-wc-sidebar-left .site-footer {
  clear: both;
  width: 100%; }

.layout-sidebar-left:not(.woocommerce):not(.woocommerce-page).no-active-sidebar:not(.woocommerce):not(.woocommerce-page) .content-area,
.layout-wc-sidebar-left.no-active-sidebar:not(.woocommerce):not(.woocommerce-page) .content-area {
  float: none;
  margin: 0;
  width: auto; }

.layout-sidebar-left:not(.woocommerce):not(.woocommerce-page).no-active-sidebar:not(.woocommerce):not(.woocommerce-page) .site-main,
.layout-wc-sidebar-left.no-active-sidebar:not(.woocommerce):not(.woocommerce-page) .site-main {
  margin: 0; }

/*--------------------------------------------------------------
## General Layout
--------------------------------------------------------------*/
.container {
  margin: 0 auto;
  max-width: none;
  position: relative;
  padding: 0 20px;
  width: 1040px; }
  body.responsive .container {
    width: 100%;
    max-width: 1040px; }

.page-title {
  margin-top: 0; }

body.page-layout-no-sidebar #main.site-main,
body.page-layout-full-width #main.site-main,
body.page-layout-stripped #main.site-main {
  margin: 0; }

.page-layout-full-width .site-content .container,
.page-layout-full-width-sidebar .site-content .container {
  max-width: 100%; }

.page-layout-no-masthead-margin #masthead,
.page-layout-no-masthead-margin .masthead-sentinel {
  margin-bottom: 0; }

.page-layout-no-footer-margin #colophon {
  margin-top: 0; }

.page-layout-menu-overlap #masthead {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 101;
  opacity: 0.975; }

.page-layout-menu-overlap .masthead-sentinel {
  display: none !important; }

.page-layout-menu-overlap.admin-bar #masthead {
  top: 32px; }
  @media screen and (max-width: 782px) {
    .page-layout-menu-overlap.admin-bar #masthead {
      top: 46px; } }

/*--------------------------------------------------------------
## Site Masthead
--------------------------------------------------------------*/
#masthead {
  background: #fafafa;
  border-bottom: 1px solid #d4d4d4;
  margin-bottom: 30px;
  min-width: 1060px;
  padding: 30px 0;
  position: relative;
  width: 100%;
  z-index: 999; }
  .sticky-menu:not(.no-topbar) #masthead {
    position: relative;
    top: auto; }
  .sticky-menu.no-topbar #masthead,
  .sticky-menu.topbar-out #masthead {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    content: "";
    display: table; }
  .sticky-menu.topbar-out.admin-bar #masthead {
    top: 32px; }
    @media screen and (max-width: 782px) {
      .sticky-menu.topbar-out.admin-bar #masthead {
        top: 46px; } }
    @media screen and (max-width: 600px) {
      .sticky-menu.topbar-out.admin-bar #masthead {
        position: absolute;
        top: auto; }
        .sticky-menu.topbar-out.admin-bar #masthead.mobile-sticky-menu {
          position: fixed;
          top: 0; } }
  #masthead .container-inner {
    display: table;
    width: 100%; }
  #masthead .site-branding {
    padding-right: 20px; }
    #masthead .site-branding > * {
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -ms-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center; }
      .layout-centered#masthead .site-branding > * {
        -webkit-transform-origin: center center;
        -moz-transform-origin: center center;
        -ms-transform-origin: center center;
        -o-transform-origin: center center;
        transform-origin: center center; }
    #masthead .site-branding .custom-logo-wrapper {
      display: inline-block; }
    #masthead .site-branding .site-title,
    #masthead .site-branding .logo-site-title {
      margin: 0;
      color: #292929;
      font-family: "Montserrat", sans-serif;
      font-size: 1.5em;
      line-height: 1.2em;
      white-space: nowrap; }
      #masthead .site-branding .site-title a,
      #masthead .site-branding .logo-site-title a {
        text-decoration: none;
        color: inherit; }
    #masthead .site-branding .logo-site-title {
      display: inline-block;
      vertical-align: bottom; }
    #masthead .site-branding .site-description {
      margin: 0.25em 0 0 0;
      font-size: 0.9em; }
    #masthead .site-branding img {
      display: inline-block;
      vertical-align: middle; }
  #masthead .site-branding,
  #masthead .main-navigation {
    display: table-cell;
    vertical-align: middle; }
  #masthead.floating {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075); }
  #masthead.layout-centered .container-inner {
    display: block; }
  #masthead.layout-centered .site-branding {
    margin: 0 auto 30px auto;
    padding: 0;
    text-align: center; }
    #masthead.layout-centered .site-branding img {
      display: inline-block; }
  #masthead.layout-centered .main-navigation {
    text-align: center; }
  #masthead.layout-centered .site-branding,
  #masthead.layout-centered .main-navigation {
    display: block; }
  body.responsive #masthead {
    min-width: 0; }

.masthead-sentinel {
  box-sizing: border-box;
  margin-bottom: 30px; }

#topbar {
  width: 100%;
  min-width: 1060px;
  background: #f4f4f4;
  border-bottom: 1px solid #d4d4d4;
  position: relative;
  z-index: 1000; }
  #topbar p {
    text-align: right;
    line-height: 3em;
    margin: 0;
    font-size: 0.8em;
    color: #898989; }
  body.responsive #topbar {
    min-width: 0; }
  #topbar #topbar-widgets {
    content: "";
    display: table;
    padding-top: 10px;
    padding-bottom: 10px; }
    #topbar #topbar-widgets .widgets.widgets-1 .widget {
      width: 100%; }
    #topbar #topbar-widgets .widgets.widgets-2 .widget {
      width: 48.75%; }
    #topbar #topbar-widgets .widgets.widgets-3 .widget {
      width: 31.66667%; }
    #topbar #topbar-widgets .widgets.widgets-4 .widget {
      width: 23.125%; }
    #topbar #topbar-widgets .widgets.widgets-5 .widget {
      width: 18%; }
    #topbar #topbar-widgets .widgets.widgets-6 .widget {
      width: 14.58333%; }
    #topbar #topbar-widgets .widgets.widgets-7 .widget {
      width: 12.14286%; }
    #topbar #topbar-widgets .widgets.widgets-8 .widget {
      width: 10.3125%; }
    #topbar #topbar-widgets .widgets.widgets-9 .widget {
      width: 8.88889%; }
    #topbar #topbar-widgets .widgets.widgets-10 .widget {
      width: 7.75%; }
    #topbar #topbar-widgets .widgets .widget {
      box-sizing: content-box;
      margin-right: 2.5%;
      float: left; }
      #topbar #topbar-widgets .widgets .widget:last-of-type {
        margin-right: 0 !important; }
      @media (max-width: 768px) {
        #topbar #topbar-widgets .widgets .widget {
          float: none;
          margin: 0 0 10px;
          width: 100% !important; } }
      #topbar #topbar-widgets .widgets .widget .widget-title {
        font-size: 1.1em;
        margin-top: 0; }

/*--------------------------------------------------------------
## Site Sidebar
--------------------------------------------------------------*/
#secondary {
  color: #595959; }
  #secondary aside {
    margin-bottom: 60px; }
    #secondary aside:last-child {
      margin-bottom: 0; }
  #secondary .widget-title {
    color: #292929;
    margin: 0 0 1em 0;
    font-size: 1em;
    text-transform: uppercase; }

/*--------------------------------------------------------------
## Site Footer
--------------------------------------------------------------*/
#colophon {
  background: #fafafa;
  color: #595959;
  margin-top: 30px; }
  #colophon.footer-active-sidebar {
    border-top: 1px solid #d4d4d4; }
  #colophon a {
    color: #c75d5d; }
    #colophon a:hover {
      color: #a94346; }
  #colophon .widgets {
    content: "";
    display: table;
    overflow: hidden;
    width: 100%; }
    #colophon .widgets .widget-wrapper {
      box-sizing: border-box;
      float: left;
      border-right: 1px solid #d4d4d4;
      padding-bottom: 9999px;
      margin-bottom: -9999px; }
      #colophon .widgets .widget-wrapper:last-child {
        border-right: none; }
    #colophon .widgets aside {
      padding: 40px 40px;
      margin: 0; }
      #colophon .widgets aside:last-child {
        border-right: 0; }
    #colophon .widgets.widgets-1 .widget-wrapper {
      width: 100%; }
    #colophon .widgets.widgets-2 .widget-wrapper {
      width: 50%; }
    #colophon .widgets.widgets-3 .widget-wrapper {
      width: 33.33333%; }
    #colophon .widgets.widgets-4 .widget-wrapper {
      width: 25%; }
    #colophon .widgets.widgets-5 .widget-wrapper {
      width: 20%; }
    #colophon .widgets.widgets-6 .widget-wrapper {
      width: 16.66667%; }
    #colophon .widgets.widgets-7 .widget-wrapper {
      width: 14.28571%; }
    #colophon .widgets.widgets-8 .widget-wrapper {
      width: 12.5%; }
    #colophon .widgets.widgets-9 .widget-wrapper {
      width: 11.11111%; }
    #colophon .widgets.widgets-10 .widget-wrapper {
      width: 10%; }
    #colophon .widgets .widget-title {
      color: #292929;
      margin: 0 0 1em 0;
      font-size: 15px;
      text-transform: uppercase; }
    @media (max-width: 640px) {
      body.responsive #colophon .widgets .widget-wrapper {
        float: none;
        width: 100% !important;
        padding-bottom: 0;
        margin-bottom: 0;
        border-right: none;
        border-bottom: 1px solid #d4d4d4; }
        body.responsive #colophon .widgets .widget-wrapper:last-child {
          border-bottom: none; } }
  #colophon .site-info {
    border-top: 1px solid #d4d4d4;
    color: #595959;
    font-size: 0.9em;
    padding: 15px;
    text-align: center; }
    #colophon .site-info span:after {
      content: "\002d";
      display: inline-block;
      padding: 0 5px; }
    #colophon .site-info span:last-of-type:after {
      content: none; }
  #colophon.unconstrained-footer .container {
    max-width: none; }

#scroll-to-top {
  line-height: 0;
  position: fixed;
  bottom: 20px;
  right: 20px;
  margin-left: -22px;
  background: rgba(0, 0, 0, 0.65);
  padding: 18px;
  border-radius: 36px;
  border-color: transparent;
  cursor: pointer;
  z-index: 101;
  opacity: 0;
  pointer-events: none;
  -webkit-transform: scale(0.85);
  -moz-transform: scale(0.85);
  -ms-transform: scale(0.85);
  -o-transform: scale(0.85);
  transform: scale(0.85);
  -webkit-transition: 0.35s;
  -moz-transition: 0.35s;
  transition: 0.35s; }
  #scroll-to-top .svg-icon-to-top path {
    fill: #fff; }
  #scroll-to-top img,
  #scroll-to-top svg {
    height: 24px;
    width: 24px; }
  #scroll-to-top img,
  #scroll-to-top svg {
    -webkit-transition: 0.35s;
    -moz-transition: 0.35s;
    transition: 0.35s; }
  #scroll-to-top img,
  #scroll-to-top svg {
    display: block;
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -ms-transform-origin: center center;
    -o-transform-origin: center center;
    transform-origin: center center;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg); }
  #scroll-to-top.show {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
    #scroll-to-top.show img,
    #scroll-to-top.show svg {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg); }
  @media (max-width: 600px) {
    #scroll-to-top {
      padding: 10px; }
      #scroll-to-top img,
      #scroll-to-top svg {
        height: 16px;
        width: 16px; }
      body.responsive:not(.mobile-scroll-to-top) #scroll-to-top {
        display: none !important; } }

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
  display: block; }

article.page, article.post {
  margin-bottom: 80px; }
  article.page > *:first-child, article.post > *:first-child {
    margin-top: 0; }
  article.page > *:last-child, article.post > *:last-child {
    margin-bottom: 0; }

article.page {
  margin-bottom: 0; }

.byline,
.updated:not(.published) {
  display: none; }

.single .byline,
.group-blog .byline {
  display: inline; }

.entry-video,
.entry-image {
  margin-bottom: 20px; }

.flexslider.gallery-format-slider {
  border: none; }
  .flexslider.gallery-format-slider .flex-direction-nav a.flex-prev:before {
    background-color: rgba(0, 0, 0, 0.5);
    background-repeat: no-repeat;
    background-image: url("images/flex-left.svg");
    background-position: 10px 11px;
    opacity: 1; }
  .flexslider.gallery-format-slider .flex-direction-nav a.flex-next:before {
    background-color: rgba(0, 0, 0, 0.5);
    background-repeat: no-repeat;
    background-image: url("images/flex-right.svg");
    background-position: 11px 11px;
    opacity: 1; }
  .flexslider.gallery-format-slider .flex-direction-nav .flex-prev:hover,
  .flexslider.gallery-format-slider .flex-direction-nav .flex-next:hover {
    background: transparent !important; }
  @media (max-width: 860px) {
    .flexslider.gallery-format-slider .flex-direction-nav .flex-prev {
      left: 0; }
    .flexslider.gallery-format-slider .flex-direction-nav .flex-next {
      right: 0; } }
  .flexslider.gallery-format-slider .flex-direction-nav a {
    height: 50px;
    top: 49.166%;
    margin-top: -25px;
    width: 40px; }
    .flexslider.gallery-format-slider .flex-direction-nav a:before {
      background: none;
      content: "";
      height: 50px;
      opacity: 0;
      padding: 0;
      -webkit-transition: 1s;
      -moz-transition: 1s;
      transition: 1s;
      transition-property: opacity;
      width: 40px; }
  .flexslider.gallery-format-slider .flex-control-nav li {
    padding: 0; }
    .flexslider.gallery-format-slider .flex-control-nav li a {
      background-color: rgba(0, 0, 0, 0.3);
      height: 7px;
      width: 7px; }
      .flexslider.gallery-format-slider .flex-control-nav li a.flex-active {
        background-color: rgba(0, 0, 0, 0.7); }

.entry-thumbnail {
  margin-bottom: 20px;
  position: relative; }
  .entry-thumbnail img {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: auto; }
  .entry-thumbnail .thumbnail-hover {
    z-index: 5;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -30px;
    margin-left: -30px;
    border-radius: 30px;
    background: #000000;
    padding: 15px;
    pointer-events: none;
    opacity: 0.4;
    -ms-transform: scale(0, 0);
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0); }
    .entry-thumbnail .thumbnail-hover, .entry-thumbnail .thumbnail-hover .north-icon-add {
      -webkit-transition: all 0.15s;
      -moz-transition: all 0.15s;
      transition: all 0.15s; }
    .entry-thumbnail .thumbnail-hover .north-icon-add {
      font-size: 30px;
      color: #fff;
      -ms-transform: scale(2, 2);
      -webkit-transform: scale(2, 2);
      transform: scale(2, 2); }
  .entry-thumbnail:hover .thumbnail-hover {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); }
    .entry-thumbnail:hover .thumbnail-hover .north-icon-add {
      -ms-transform: scale(1, 1);
      -webkit-transform: scale(1, 1);
      transform: scale(1, 1); }

.entry-title {
  margin: 0 0 1em 0;
  color: #292929;
  font-size: 1.6em; }
  .entry-title a {
    color: inherit;
    text-decoration: none; }

.entry-meta {
  margin: -15px 0 25px 0;
  padding: 0;
  list-style: none;
  font-family: "Droid Serif", sans-serif;
  font-size: 0.85em; }
  .entry-meta li, .entry-meta a, .entry-meta .meta-icon {
    color: #b0b0b0;
    text-decoration: none;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s; }
  .entry-meta a:hover {
    text-decoration: underline; }
    .entry-meta a:hover time {
      text-decoration: underline; }
  .entry-meta li {
    display: inline-block;
    margin-right: 12px; }
    .entry-meta li .meta-icon {
      float: left;
      font-size: 15px;
      margin-top: 1px;
      margin-right: 6px; }
    .entry-meta li.posted-on .updated {
      display: none; }
    .entry-meta li.posted-on .published {
      display: inline-block; }
    .entry-meta li.post-comments .meta-icon {
      font-size: 18px;
      margin-top: 1px; }
    .entry-meta li.hovering, .entry-meta li.hovering a, .entry-meta li.hovering .meta-icon {
      color: #a94346; }

.breadcrumbs {
  margin-bottom: 1.5em;
  margin-top: -1.5em;
  font-style: italic;
  font-size: 0.85em;
  font-family: "Droid Serif", sans-serif;
  color: #898989; }
  .breadcrumbs a {
    color: inherit;
    text-decoration: none; }
    .breadcrumbs a:hover {
      color: #a94346;
      text-decoration: underline; }

.page-content,
.entry-content,
.entry-summary {
  color: #595959;
  margin: 15px 0;
  line-height: 1.8; }
  .page-content > *:first-child,
  .entry-content > *:first-child,
  .entry-summary > *:first-child {
    margin-top: 0; }
  .page-content > *:last-child,
  .entry-content > *:last-child,
  .entry-summary > *:last-child {
    margin-bottom: 0; }
  .page-content ul, .page-content ol, .page-content li,
  .entry-content ul,
  .entry-content ol,
  .entry-content li,
  .entry-summary ul,
  .entry-summary ol,
  .entry-summary li {
    padding: 0; }

.cat-links {
  font-size: 13px; }

.tags-list {
  margin-top: 1em; }
  .tags-list a {
    background: #b0b0b0;
    color: #fff;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    line-height: 1em;
    font-size: 0.8em;
    padding: 8px 12px; }
    .tags-list a:hover {
      background: #a94346;
      color: #fff; }

.author-box {
  margin: 20px 0;
  padding: 20px;
  background: rgba(0, 0, 0, 0.05); }
  .author-box .author-title {
    margin-top: 0;
    line-height: 1;
    font-size: 1.25em; }
    .author-box .author-title .author-info {
      font-size: 0.6em;
      padding: 0 5px;
      font-weight: bold; }
      .author-box .author-title .author-info a {
        text-decoration: none; }
  .author-box .author-avatar {
    float: left; }
  .author-box .author-description {
    margin-left: 120px; }

.more-link {
  font-size: 0.85em;
  float: right;
  border: 1px solid #292929;
  padding: 10px 30px;
  line-height: 1em;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  color: #292929;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase; }
  .more-link:visited {
    color: #292929; }
  .more-link:hover {
    background: #c75d5d;
    border-color: #c75d5d;
    color: #fff;
    box-shadow: none; }

.page-links {
  clear: both;
  margin: 0 0 1.5em; }

.search-results article.post {
  clear: both;
  margin-bottom: 35px;
  overflow: auto; }

.search-results .entry-title {
  font-size: 18px; }

.search-results .entry-thumbnail {
  float: left;
  margin: 0 20px 15px 0;
  text-align: left;
  width: 40%; }
  @media (max-width: 1024px) {
    .search-results .entry-thumbnail {
      float: none;
      text-align: center;
      width: auto; } }

.page-layout-no-sidebar.search-results .entry-thumbnail {
  width: 30%; }
  @media (max-width: 1024px) {
    .page-layout-no-sidebar.search-results .entry-thumbnail {
      width: auto; } }

/*--------------------------------------------------------------
## Search Form
--------------------------------------------------------------*/
.search-form,
.woocommerce-product-search {
  position: relative; }
  .search-form input[type="search"],
  .woocommerce-product-search input[type="search"] {
    min-width: 300px;
    padding-right: 54px; }
  .search-form button[type="submit"],
  .woocommerce-product-search button[type="submit"] {
    border: none;
    box-shadow: none;
    color: #595959;
    line-height: normal;
    padding: 12px 18px 8px;
    position: absolute;
    right: 0;
    top: 0; }
    .search-form button[type="submit"]:hover,
    .woocommerce-product-search button[type="submit"]:hover {
      background: none;
      color: #292929; }
    .search-form button[type="submit"] svg,
    .woocommerce-product-search button[type="submit"] svg {
      height: 14px;
      width: 14px; }
      .search-form button[type="submit"] svg path,
      .woocommerce-product-search button[type="submit"] svg path {
        fill: #595959; }

/*--------------------------------------------------------------
## Post Pagination
--------------------------------------------------------------*/
.post-pagination {
  text-align: center;
  font-family: "Droid Serif", sans-serif;
  margin: 0 auto;
  width: auto; }
  .post-pagination a {
    text-decoration: none;
    color: #595959; }
    .post-pagination a:hover {
      color: #a94346; }
  .post-pagination .current {
    font-weight: bold;
    color: #292929; }
  .post-pagination .page-numbers {
    color: #595959;
    padding: 5px;
    display: inline-block;
    margin: 0 5px; }
  .post-pagination .prev, .post-pagination .next {
    color: #595959;
    padding: 5px 5px 2px 5px; }

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
  word-wrap: break-word; }

.bypostauthor {
  display: block; }

.comment-list {
  margin: 25px 0;
  padding: 0; }
  .comment-list li.comment {
    color: #898989;
    display: block;
    margin: 0 0 50px 0;
    padding: 0;
    width: auto; }
    .comment-list li.comment .comment-container {
      margin-left: 120px; }
      .comment-list li.comment .comment-container .comment-awaiting-moderation {
        font-style: italic; }
    .comment-list li.comment.pingback .comment-container {
      margin-left: 0; }
    .comment-list li.comment .avatar-container {
      float: left; }
      .comment-list li.comment .avatar-container img {
        display: block; }
    .comment-list li.comment .comment-reply-link {
      color: #b0b0b0;
      float: right;
      font-size: .8em;
      text-decoration: none;
      line-height: 1em;
      padding: 8px 12px;
      background: #292929; }
      .comment-list li.comment .comment-reply-link:hover {
        background: #a94346; }
    .comment-list li.comment .info {
      color: #b0b0b0; }
    .comment-list li.comment .author {
      color: #292929;
      font-weight: bold; }
    .comment-list li.comment .children {
      margin-top: 50px;
      margin-left: 70px;
      padding: 0; }

.comments-title, .comment-reply-title {
  font-size: 1.2em;
  text-transform: uppercase; }

#commentform {
  margin: 0 -15px; }
  #commentform > p {
    padding: 0 15px;
    margin: 25px 0; }
  #commentform .comment-form-author,
  #commentform .comment-form-email,
  #commentform .comment-form-url {
    display: block;
    float: left;
    margin: 0 0 20px 0;
    width: 33.333%; }
    @media (max-width: 768px) {
      #commentform .comment-form-author,
      #commentform .comment-form-email,
      #commentform .comment-form-url {
        float: none;
        margin: 0 0 10px;
        width: 100%; }
        #commentform .comment-form-url {
          margin-bottom: 20px; } }
  #commentform .comment-form-comment {
    margin: 10px 0; }
    #commentform .comment-form-comment textarea {
      display: block; }
      @media (max-width: 768px) {
        #commentform .comment-form-comment textarea {
          padding: 8px; } }
  #commentform .form-allowed-tags,
  #commentform .comment-notes,
  #commentform .logged-in-as {
    color: #b0b0b0;
    margin: 10px 0; }
    #commentform .form-allowed-tags,
    #commentform .form-allowed-tags code,
    #commentform .comment-notes,
    #commentform .comment-notes code,
    #commentform .logged-in-as,
    #commentform .logged-in-as code {
      font-size: 12px; }
  #commentform .comment-form-cookies-consent {
    align-items: center;
    clear: both;
    display: flex;
    margin: 0 0 8px; }
    #commentform .comment-form-cookies-consent input {
      line-height: 1;
      margin-right: 5px; }
    #commentform .comment-form-cookies-consent label {
      display: inline-block;
      font-weight: normal;
      margin-bottom: 0; }
  #commentform .comment-subscription-form {
    display: block;
    clear: both;
    margin: 0 0 8px;
    overflow: auto; }
    #commentform .comment-subscription-form input {
      margin-right: 0; }
    #commentform .comment-subscription-form label {
      font-weight: normal; }
  #commentform .form-submit {
    clear: both;
    margin: 15px 0 0; }
    #commentform .form-submit input {
      background: transparent;
      border: 1px solid #303030;
      border-radius: 0;
      box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.25);
      color: #292929;
      font-family: "Montserrat", sans-serif;
      font-size: 0.85em;
      line-height: 1em;
      padding: 10px 30px;
      text-decoration: none;
      text-shadow: none;
      text-transform: uppercase;
      -webkit-transition: 0.085s;
      -moz-transition: 0.085s;
      transition: 0.085s; }
      #commentform .form-submit input:hover {
        background: #a94346;
        border-color: #a94346;
        color: #fff;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1); }
  #commentform input,
  #commentform textarea {
    background-color: #ffffff; }
    #commentform input:focus,
    #commentform textarea:focus {
      outline: none; }

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
.infinite-scroll .post-pagination,
.infinite-scroll .woocommerce-result-count,
.infinite-scroll.neverending .site-footer {
  display: none; }

.infinity-end.neverending .site-footer {
  display: block; }

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0; }

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%; }

/* Over-riding theme button styles for audio shortcode. */
.mejs-controls .mejs-button button {
  box-shadow: none; }

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%; }
  .wp-caption img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .wp-caption .wp-caption-text {
    margin: 0.8075em 0; }

.wp-caption-text {
  text-align: center; }

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
  margin-bottom: 1.5em; }

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%;
  margin: 0;
  padding: 0.25em; }
  .gallery-columns-2 .gallery-item {
    max-width: 50%; }
  .gallery-columns-3 .gallery-item {
    max-width: 33.33%; }
  .gallery-columns-4 .gallery-item {
    max-width: 25%; }
  .gallery-columns-5 .gallery-item {
    max-width: 20%; }
  .gallery-columns-6 .gallery-item {
    max-width: 16.66%; }
  .gallery-columns-7 .gallery-item {
    max-width: 14.28%; }
  .gallery-columns-8 .gallery-item {
    max-width: 12.5%; }
  .gallery-columns-9 .gallery-item {
    max-width: 11.11%; }
  .gallery-item img {
    vertical-align: middle; }

.gallery-caption {
  display: block; }

.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
  display: none; }

/*--------------------------------------------------------------
# Animations
--------------------------------------------------------------*/
.burst-animation-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 2;
  pointer-events: none; }
  .burst-animation-overlay .burst-circle {
    position: absolute;
    width: 2px;
    height: 2px;
    background: #000;
    opacity: 0.1;
    border-radius: 10px; }
