.onepage-parallax-admin-notice{
  padding: 15px 15px 15px 0;
  background-color: #fff;
  border-radius: 3px;
  margin: 20px 20px 0 0;
  border-left: 4px solid transparent;
}
.onepage-parallax-admin-notice:after{
  content: '';
  display: table;
  clear: both;
}
.onepage-parallax-notice-thumbnail{
  width: 114px;
  float: left;
  line-height: 80px;
  text-align: center;
  border-right: 4px solid transparent;
}
.onepage-parallax-notice-thumbnail img{
  width: 68px;
  vertical-align: middle;
}
.onepage-parallax-notice-text{
  overflow: hidden;
}
.onepage-parallax-notice-text h3{
  font-size: 24px;
  margin: 0 0 5px;
  font-weight: 400;
  line-height: 1.3;
}
.onepage-parallax-notice-text p{
  font-size: 13px;
  margin: 0 0 5px;
}
.onepage-parallax-notice-ul{
  margin: 0;
  padding: 0;
}
.onepage-parallax-notice-ul li{
  display: inline-block;
  margin-right: 15px;
}
.onepage-parallax-notice-ul li a{
  display: inline-block;
  color: #10738B;
  text-decoration: none;
  padding-left: 26px;
  position: relative;
}
.onepage-parallax-notice-ul li a span{
  position: absolute;
  left: 0;
  top: -2px;
}
