/* Mobile Portrait View */
@media screen and (max-width:767px) {
*{box-sizing:border-box;}
.left, .right, .copyright-txt, .design-by{ float:none;}
.container { width:auto; padding:0 20px;}
.wrap_one{width:auto; text-align:center;}
.header, body.home .fixed-header { width:100%; padding:0; position:relative !important; background-color:rgba(0,0,0,1);}
.logo{ float:none; text-align:center; margin:0 auto; padding:8px 15px; position:relative; width: auto; display:table;}
.head-rightpart{ float:none; width:100%; text-align:center;}
.infobox{ float:none; display:table; margin-bottom:10px;}
.fashioner-thumb, .fashioner-content{ float:none; width:100%;}
/*coloumn css*/
.post-thumb{ width:100%; float:none; margin:0 0 10px;}
/*sidebar css*/
#sidebar{ width:100%; float:none;}
#FrontBlogPost, #wrapfirst, #wrapsecond{ padding:40px 0;}
/* --------- Pages ------- */
.content-area{ width:auto; margin:0; padding:50px 20px;}
.site-maincontentarea{ width:auto; margin:0; padding:0; float:none;}
h2.section-title{ font-size:22px; line-height:26px;}
/*slider css*/
#slider{ top:0; margin:0;}
.nivo-directionNav a{ top:39% !important;}
.nivo-caption, .nivo-controlNav{ display:none !important;}
/*footer css */
.footer-copyright{ text-align:center;}
.cols-4{ width:100% !important; display:block; margin-right:0; margin-bottom:15%;}
/*custom css*/
h2.section_title{ text-align:center;}
/*front blog post*/
.BlogPosts{ float:none; width:auto; margin:0 0 10% 0;}
.wpcf7 input[type="text"], .wpcf7 input[type="tel"], .wpcf7 input[type="email"], .wpcf7 textarea{ width:100%;}
.welcomecontent, .welcomethumb{ width:auto; float:none; margin:0 0 35px;}
#site-holder{ width:100%;}
.threebox{ width:auto; float:none; margin:0 0 80px;}
#section-wrap-1{ height:auto;}
.site-header{ position:relative; background-color:rgba(0, 0, 0, 0.9);}
.welcome-thumb{ float:none; margin:0 0 25px; width:auto;}
}

/* Mobile Landscape View */
@media screen and (min-width: 481px) and (max-width: 767px){
*{box-sizing:border-box;}
.container, .content-area{ width:440px; margin:0 auto;}
.nivo-caption, .nivo-controlNav{ display:none !important;}
.nivo-caption{ width:65%; }
.slide_info h2{ font-size:20px !important; line-height:30px; text-shadow:1px 0 0 #333;}
.slide_info h2 span{ font-size:30px !important;}
.slide_info p{ padding:5px 0 !important;  font-size:13px !important; display:none;}
.headertop .left{ font-size:16px;}
.post-thumb{ width:50%; float:left; margin:5px 20px 10px 0;}
}
/* Mobile Landscape View */
@media screen and (min-width: 300px) and (max-width: 481px){
*{box-sizing:border-box;}
.social-icons{ display:block; padding:0;}
.social-icons a{ padding:0; padding:0 10px; display:inline-table; line-height:40px;}
}

@media screen and (min-width:768px) and (max-width: 980px){
.site-header { width:100%; position:relative !important;}
.infobox{ float:none;  margin-bottom:10px;}
.head-rightpart{ float:none; width:100%; text-align:center;}
.logo{ float:none; text-align:center; margin:0 auto; padding:8px 15px; position:relative; width: auto; display:table;}
.threebox h3{ font-size:16px;}
#section-wrap-1{ height:auto;}
.site-header{ position:relative; background-color:rgba(0, 0, 0, 0.9);}
}

/* Tablet View */
@media screen and (max-width:1169px) and (min-width:768px) { 
*{box-sizing:border-box;}
.social-icons a{ box-sizing:content-box; margin-bottom:5px; }
.container { width:auto; padding:0 20px;}

/*slider css*/
.nivo-caption{ width:60%; bottom:15%;}
.slide_info h2{ font-size:24px !important; line-height:30px; }
.content-area{ width:auto; margin:0; padding:50px 20px;}
#sidebar{ width:30%;}
.site-maincontentarea{ width:65%;}
.cols-4 h5{ font-size:16px;}
/*custom  css*/
#site-holder{ width:100%;}
}

@media screen and (max-width:1169px) and (min-width:981px) { 
html{overflow-x:hidden; }
.nivo-caption{ bottom:20%;}
}

@media screen and (max-width: 980px){
.toggleMenu{display: block;}
.header-menu{float:none; margin:0; position:relative; overflow-x:hidden; background-color:#fff; border-radius:0; top:0; border-bottom:none; }
.header-menu ul{color:#000; width:100% !important; float:none !important; margin:0; padding:0;}
.header-menu ul li{border-top:1px #cccccc solid; display:block; float:none; text-align:left; border-bottom:none !important}
.header-menu ul li a{padding:5px 10px !important; display:block; color:#000; border:none; text-align:left;}
.header-menu ul li a:hover, .header-menu ul li.current_page_item a{color:#efc62c;  border:none !important; border-radius:0;}
.header-menu ul li ul, .header-menu ul li ul ul{ display:block !important; background: transparent !important;}
.header-menu ul li ul li a:before{content:"\00BB \00a0";}
.header-menu ul li ul li a{padding-left:20px !important; }
.header-menu ul li ul li a, .header-menu ul li.current-menu-ancestor a.parent{ border:none; border-radius:0;}
.header-menu ul li ul li ul li a{padding-left:30px !important;}
.header-menu ul li ul li ul li ul li a{padding-left:40px !important;}
.header-menu ul li:hover > ul{ background:none !important; box-shadow:none;}
.header-menu ul li:hover > ul{ background: transparent !important; width:auto !important; display:block; position: relative !important; left:0; right:0; top:0; padding:0;}
.header-menu ul li:hover ul li ul, .header-menu ul li:hover ul li:hover > ul, .header-menu ul li:hover ul li:hover > ul li ul{  background: transparent !important; display:block; position:relative !important;  right:0; left:0; top:0;}
.header-menu ul li:hover ul li:hover ul, .header-menu ul li:hover ul li:hover ul li:hover ul{ left:0 !important;}
.header-menu ul li ul li a{ color:#000;}

.mainmenu{ margin:0;}
}